# Introduction

Lets start our pipeline by making a data cleaning to the data collected from mercadolibre API (MELI), and some tasks relative to **data wrangling**. Some ot those tasks are:
- convert prices to a unify currency like(usd)
- extract useful info from columns like "tags"

In [4]:
import sys
sys.path.insert(0,'../..')

In [5]:
# Loading relevant libraries
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
from scipy.stats import norm
import seaborn as sns
import json
from utils import *

### Data collection:

Lets get the data from the MELI API.

In [6]:
DIR

WindowsPath('C:/Users/JohanR/Documents/proyectos/mercadolibre')

In [55]:
# dictionary with categories per country
with open('../../data/01_raw/categories_dict.json') as f:
    categories_dict = json.load(f)

In [57]:
#run the function to get the data from MELI API
#get_data_by_category(categories_dict)

### Loading the raw data

In [29]:
raw_data = pd.read_csv('../../data/01_raw/meli_data.csv',index_col=0)
raw_data.drop(columns='order_backend',inplace=True)
# Lets take a look of some records of raw data
raw_data.sample(3)

,post_id,user_id,country,city,category_name,product,price,original_price,available_quantity,sold_quantity,condition,accepts_mercadopago,shipping_state,tags
11675,MLU451270637,237853243,Uruguay,Goes,Deportes y Fitness,Quemador De Grasa L Carnitina Liquida Star Nut...,990.0,NaN,500,250,new,True,False,"['good_quality_picture', 'good_quality_thumbna..."
1017,MCO583027685,599455763,Colombia,Cartagena De Indias,Accesorios para Vehículos,Racor 500 Fg Equivalente Filtro De Combustible...,259990.0,NaN,1,5,new,True,True,"['good_quality_picture', 'good_quality_thumbna..."
16006,MLU474477457,190075836,Uruguay,Unión,Servicios,Alquiler Omnibus Micro Traslados Excurciones P...,NaN,NaN,1,0,NaN,False,False,"['dragged_visits', 'good_quality_picture']"

In [30]:
# shape of datset
print('Shape of raw_data:\n',raw_data.shape)

Shape of raw_data:
 (52265, 14)

In [31]:
# categories present in the dataset
raw_data['category_name'].value_counts()

Accesorios para Vehículos     5634
Deportes y Fitness            4648
Juegos y Juguetes             4415
Libros, Revistas y Comics     4332
Agro                          4034
Computación                   3549
Servicios                     3500
Instrumentos Musicales        3200
Electrónica, Audio y Video    2998
Inmuebles                     2950
Otras categorías              2599
Consolas y Videojuegos        2449
Autos, Motos y Otros          2400
Celulares y Teléfonos         2094
Joyas y Relojes               1650
Música y Películas            1649
Arte y Antigüedades            164
Name: category_name, dtype: int64

In [32]:
# For the category "Servicios" some of the fields have no real sense like:
# sold_quantity,avalaible_quantity,original_price,condition.

raw_data[raw_data['category_name']=='Servicios'].head(3)

,post_id,user_id,country,city,category_name,product,price,original_price,available_quantity,sold_quantity,condition,accepts_mercadopago,shipping_state,tags
8698,MCO580150997,22300563,Colombia,Madrid,Servicios,Alquiler De Vans Sin Conductor,400000.0,NaN,1,0,NaN,False,False,['dragged_visits']
8699,MCO580152287,22300563,Colombia,Madrid,Servicios,Alquiler De Vehículos Al Mejor Precio,125000.0,NaN,1,0,NaN,False,False,['dragged_visits']
8700,MCO574555437,236862201,Colombia,Ciudad Bolivar,Servicios,Cursos Licencias De Conducción A2 Moto B1 - ...,NaN,NaN,1,0,NaN,False,False,['dragged_visits']

In [33]:
# discard the records with Servicio category.
raw_datav2 = raw_data[raw_data['category_name']!='Servicios']
raw_datav2
print('Shape of data without servicios category:\n',raw_datav2.shape)

Shape of data without servicios category:
 (48765, 14)

## Data preprocessing

Lets make some little changes in a couple of columns to get a better and useful dataset:
- handle missing values
- unify prices currency to usd
- coding tag field
- handle the product name field

In [34]:
# checking the types of data we have
raw_datav2.dtypes

post_id                 object
user_id                  int64
country                 object
city                    object
category_name           object
product                 object
price                  float64
original_price         float64
available_quantity       int64
sold_quantity            int64
condition               object
accepts_mercadopago       bool
shipping_state            bool
tags                    object
dtype: object

In [35]:
#duplicated records
raw_datav2.iloc[:,:].duplicated().value_counts()

False    48743
True        22
dtype: int64

In [36]:
#raw_datav2[raw_datav2.duplicated()]

### handling missing values

In [37]:
# lets see whats columns have missing or null values:
# - price
#- original_price

raw_datav3 = raw_datav2.copy(deep=True)
raw_datav3.isna().any()

post_id                False
user_id                False
country                False
city                   False
category_name          False
product                False
price                   True
original_price          True
available_quantity     False
sold_quantity          False
condition              False
accepts_mercadopago    False
shipping_state         False
tags                   False
dtype: bool

In [38]:
# complete the cases with original_price null with the current price field 
indx = raw_datav3[raw_datav3['original_price'].isna()==True].index
# fill na with the current price value
raw_datav3.loc[indx,'original_price']=raw_datav3.loc[indx,'price']

In [39]:
# missing values in the field "price".
print('records with na in price field: ',raw_datav3[raw_datav3['price'].isna()==True].shape[0])
raw_datav3[raw_datav3['price'].isna()==True].head(3)

records with na in price field:  14

,post_id,user_id,country,city,category_name,product,price,original_price,available_quantity,sold_quantity,condition,accepts_mercadopago,shipping_state,tags
43947,MLV572718272,38480507,Venezuela,chacao,Inmuebles,Lomas De Chuao Extraordinaria Propiedad Con Vista,NaN,NaN,1,0,used,False,False,"['dragged_visits', 'good_quality_picture']"
43948,MLV572718485,38480507,Venezuela,chacao,Inmuebles,Bello Apartamento Listo Para Entrar San Bernar...,NaN,NaN,1,0,used,False,False,"['dragged_visits', 'good_quality_picture']"
43949,MLV570612245,38480507,Venezuela,chacao,Inmuebles,Bella Casa En Exclusivo Desarrollo En Caurimare,NaN,NaN,1,0,used,False,False,['good_quality_picture']

In [40]:
# Finally take off all the 14 cases with a null in price field.
raw_datav3.dropna(inplace=True)
print('Shape the cleaner version of dataset:\n',raw_datav3.shape)

Shape the cleaner version of dataset:
 (48751, 14)

In [41]:
# reset index for the dataset
raw_datav3.reset_index(drop=True,inplace=True)

### Change prices to usd

In [42]:
with open('../../data/01_raw/currency_ids.json') as f:
    currency_ids = json.load(f)

In [43]:
raw_datav3['price'] = currency_converter(currency_ids,raw_datav3['country'],raw_datav3['price'])
raw_datav3['original_price']=currency_converter(currency_ids,raw_datav3['country'],raw_datav3['original_price'])
raw_datav3.sample(3)

,post_id,user_id,country,city,category_name,product,price,original_price,available_quantity,sold_quantity,condition,accepts_mercadopago,shipping_state,tags
270,MCO560154251,114977753,Colombia,Bosa,Accesorios para Vehículos,Impermeable Para Moto En Silicona- Garantía 6...,15.527175,15.527175,100,250,new,True,False,"['good_quality_picture', 'good_quality_thumbna..."
46801,MPE436452890,142186970,Perú,Lima,Instrumentos Musicales,Violín Cremona 4/4 Cervini Hv-100 Completo.arc...,123.439813,123.439813,1,5,new,True,False,"['good_quality_picture', 'good_quality_thumbna..."
20375,MLC541673882,429353192,Chile,Santiago,Accesorios para Vehículos,Funda Cubre Tapiz Auto 8 Pzs,36.795995,36.795995,1,100,new,True,True,"['good_quality_picture', 'good_quality_thumbna..."

### Short product name extraction

we are gonna create a short version of the product name taking into account that usually the first part of the product name give a relative good description.

In [44]:
raw_datav3['product'] = product_name_extractor(raw_datav3['product'])

In [45]:
raw_datav3.head(3)

,post_id,user_id,country,city,category_name,product,price,original_price,available_quantity,sold_quantity,condition,accepts_mercadopago,shipping_state,tags
0,MCO548989931,145181776,Colombia,Medellín,Accesorios para Vehículos,Espejo,3.049981,3.049981,50,500,new,True,False,"['good_quality_picture', 'good_quality_thumbna..."
1,MCO508601525,152737872,Colombia,Kennedy,Accesorios para Vehículos,Forro,11.063112,11.063112,150,500,new,True,True,"['good_quality_picture', 'good_quality_thumbna..."
2,MCO509093160,212962423,Colombia,Cali,Accesorios para Vehículos,Radio,59.585535,59.585535,250,500,new,True,True,"['good_quality_picture', 'good_quality_thumbna..."

In [46]:
# Get the stacked list of tags and the tags freq dict
stacked_tags,tags_freq = tags_extractor(raw_datav3['tags'])

In [47]:
raw_datav4= raw_datav3.copy(deep=True)

In [48]:
start = time.time()
data_tag_filled = add_tags_fields(raw_datav4,stacked_tags,tags_freq)
end= time.time()
print('Execution time in seconds: ', round(end-start,2))

Execution time in seconds:  109.88

In [49]:
# take a copy of the cleaner data before create the discount percentage field
data = data_tag_filled.copy(deep=True)

### Discount percentage Column

Some products exhibit some "*discount*" in their price, so from the customer point of view the knowledge of the "*discount percentage*" could be important to encourage  to put more attention to the offer.

In [50]:
data['discount_percentage'] = np.round((1- data['price']/data['original_price'])*100, decimals=2)

In [51]:
columns = ['post_id','user_id','country','city','category_name','product','available_quantity', 'sold_quantity',
       'good_quality_picture', 'immediate_payment', 'good_quality_thumbnail',
       'cart_eligible', 'shipping_guaranteed', 'dragged_bids_and_visits',
       'brand_verified', 'loyalty_discount_eligible', 'poor_quality_picture',
       'best_seller_candidate', 'incomplete_technical_specs', 'dragged_visits',
       'poor_quality_thumbnail', 'extended_warranty_eligible', 'free_relist',
       'ahora', 'catalog_product_candidate', 'only_html_description',
       'catalog_listing_eligible', 'cbt_item', 'under_infractions',
       '3x_campaign', 'deal_of_the_day', 'unknown_quality_picture',
       'catalog_boost']

convert_to =['category']

# change the dtype of a list of columns
data = convert_column_dtype(data,columns,convert_to)

In [28]:
# save the file
#data.to_csv(r'..\..\data\02_intermediate\meli.csv')